<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/outline.css">



    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="../static/datepicker/jquery-ui.css">
    <link rel="stylesheet" href="../static/datepicker/jquery-ui.min.js">
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/navbar.css">


    <title>VANILLA</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top px-4 py-3 shadow-sm p-3  bg-white rounded" id="topLevelNavbar">
        <a class="navbar-brand flex-column" href="/">VANILLA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbardropdown1"
            aria-controls="navbardropdown1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row" id="navbardropdown1">
            <div class="flex-column midFlexColumn">
                <ul class="nav navbar-nav mr-auto" id="pills-tab-1" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview"
                            role="tab" aria-controls="pills-overview" aria-selected="true">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-firma-tab" data-toggle="pill" href="#pills-firma" role="tab"
                            aria-controls="pills-firma" aria-selected="true">Firma</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-mitarbeiter-tab" data-toggle="pill" href="#pills-mitarbeiter"
                            role="tab" aria-controls="pills-mitarbeiter" aria-selected="true">Mitarbeiter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-auftraege-tab" data-toggle="pill" href="#pills-auftraege" role="tab"
                            aria-controls="pills-auftraege" aria-selected="true">Aufträge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-finanzen-tab" data-toggle="pill" href="#pills-finanzen" role="tab"
                            aria-controls="pills-finanzen" aria-selected="true">Finanzen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-vorlagen-tab" data-toggle="pill" href="#pills-vorlagen" role="tab"
                            aria-controls="pills-vorlagen" aria-selected="true">Vorlagen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-system-tab" data-toggle="pill" href="#pills-system" role="tab"
                            aria-controls="pills-system" aria-selected="true">System</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-row" id="subnavbar"></ul>
            </div>
            <!-- button -->
            <div class="logoutbutton">
                <form class="form-inline my-2 my-lg-0" action="/logout">
                    <button class="btn btn-sm pt-0 logoutbuttonstyle " value="Logout"><span>Logout</span></button>
                </form>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    <form id="modalForm">
                        <!-- <div class="form-group">
                            <label class="bmd-label-floating">Email address</label>
                            <input class="form-control">
                        </div> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="addFahrzeuge" class="btn btn-primary">Save new</button>
                    <button type="button" id="editSave" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <nav class="mt-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li id="Hauptseite" class="breadcrumb-item"></li>
                <li id="Unterseite" class="breadcrumb-item active pl-1" aria-current="page"></li>
            </ol>
        </nav>
    </div>


    <div id="accordion" class="container">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        FahrzeugTabelle
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div id="dieTabelle">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        MitarbeiterTabelle
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="mt-5" id="dieTabelle2">
                    </div>
                </div>
            </div>
        </div>

    </div>





    <!-- ab hier das Object table -->








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="../static/js/navbar.js"></script>

    <!-- <script src="../static/js/table.js"></script> -->
    <script src="../static/js/TableObject.js"></script>
    <script src="../static/js/handler.js"></script>



</body>

</html>